img{
    width: 250px;
}

.img1{
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 0;
}

.img2{
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 1;
}

.img3{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2;
}